{% extends 'main.html' %}
  

{% block content %}
    <div class="read" >
        <h1>{{city|upper}}</h1>
        <h3>current weather :  {{data.weather.0.description}}</h3>
        {{data}}

        <div class="data" >

            <div class="cor" >
                <h3>latitude coordinate : {{data.coord.lon}}</h3>
                <h3>longitude coordinate :{{data.coord.lat}}</h3>
            </div>

            <div class="wea" >
                <h3>ID : {{data.weather.0.id}}</h3>
                <h3>main weather :{{data.weather.0.main}}</h3>
                <h3>current weather :{{data.weather.0.description}}</h3>
                <h3>Temp: {{data.main.temp}}</h3>
            </div>

            <div class="main" >
                <h3>Pressure: {{data.main.pressure}}</h3>
                <h3>Humidity: {{data.main.humidity}}</h3>
                <h3>visibility: {{data.visibility}}</h3>
                <h3>wind speed: {{data.wind.speed}}</h3>
            </div>
            

        </div>
    </div>

    {% endblock content %}
